{% extends './asientos/vista_asiento.html' %}

{% block registro %}
<hr/>
<div class="row">
  <div class="col-sm-6">
    <label for="monto" style="padding-right: 25px;">Monto</label>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="checkDH" id="checkDebe" checked>
      <label class="form-check-label" for="checkDebe">Debe</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="checkDH" id="checkHaber">
        <label class="form-check-label" for="checkHaber">Haber</label>
    </div>
    <div class="input-group">
      <span class="input-group-text" id="inputGroupPrepend">$</span>
      <input placeholder="Monto" class="form-control col-sm-7" type="numeric" id="monto" name="monto" min="0" oninput="validity.valid||(value='');" required>
    </div>
  </div>
  <div class="col-sm-4">
    <label for="cuenta">Elegir Cuenta</label>
    <select name="cuenta" class="form-control" id="cuenta">
    </select> 
  </div>
  <div class="col-sm-2" >
    <button type="button" class="btn btn-primary" style="position: relative;top: 50%;left: 25%;" id="addAsiento" name="addAsiento" >Agregar</button>
  </div>
</div>
{% endblock %}


{% block tabla %}
  <thead>
    <tr>
        <th>#</th>
        <th class="w-25" style="text-align:left">Cuenta</th>
        <th>Debe</th>
        <th>Haber</th>
        <th><!--Editar--></th>
        <th>Eliminar</th>
    </tr>
  </thead>
  <tbody id="main-table">
    {% set contador = namespace(totalDebe=0,totalHaber=0 ) %}
    {% for l in data.asientos %}
    {% set prefix2 = "&emsp;"*2 %}
    <tr>
        <td cuenta-id="{{ loop.index + 5000 }}">{{ loop.index }}</td>
        {% if l[2] == 0 %}
            <td style="text-align:left">{{ l[0] }}</td>
            <td>$ {{ l[1] }}</td>
            <td> - </td>
            {% set contador.totalDebe = contador.totalDebe +  l[1] %}
        {% else %}
            <td style="text-align:left; padding-left: 3em;">{{ l[0] }}</td>
            <td> - </td>
            <td>$ {{ l[1] }}</td>
            {% set contador.totalHaber = contador.totalHaber +  l[1] %}
        {% endif %}     
        <td><button id="{{ l.isbn }}" class="btn btn-block btn-dark btnEditarLibro st-btn">Editar</button></td>
        <td><button id="{{ l.isbn }}" class="btn btn-block btn-dark btnEliminarLibro st-btn">Eliminar</button></td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
        <td colspan="2"></td>
        <td id="totalDebe">$ {{ contador.totalDebe }}</td>
        <td id="totalHaber">$ {{ contador.totalHaber }}</td>
        <!-- <td id="totalDiferencia">$ {{ contador.totalDebe - contador.totalHaber }}</td>*/ -->
        <td colspan="1"></td>
    </tr>
  </tfoot>
{% endblock %}

{% block customJS %}
<script src="{{ url_for('static', filename='lib/sweetalert2-9.10.0/sweetalert2.all.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/notificacionSwal.js') }}"></script>
<script src="{{ url_for('static', filename='js/asientos/registrar_asiento.js') }}"></script>
{% endblock %}