{% extends './body.html' %}

{% block title %}Index{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/vista_asiento.css') }}">
{% endblock %}

{% block container %} 
<div class="row">
    <div class="col-sm col-md col-lg col-xl">
        <div style="text-align: center;">{{data.titulo}}#{{data.id}}</div>
    </div>
</div>
<hr/>
<form>
    <div class="row">
        <div class="col-sm-6"> 
            <label for="descripcion">Descripción</label>
            <input class="form-control input-lg" placeholder="Descripcion del Asiento" id="descripcion" type=text></textarea>
        </div>
        <div class="col-sm-6"> 
            <div class="row">
                <div class="col-sm-4">
                    <label for="datePicker">Fecha</label>
                    <input type="date" class="form-control" id="datePicker"></h4>
                </div>
                <div class="col-sm-8"> 
                    <label for="descripcion">Responsable</label>
                    <input class="form-control" placeholder="Creador del asiento" id="responsable" type=text disabled></textarea>
                </div>
            </div>
        </div>
    </div>
    {% block registro %}
    {% endblock %}
</form>
<hr/>
<div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive">
                <table class="table table-striped" id="tabla-asientos">
                    {% block tabla %}
                    {% endblock %}
                </table>
            </div>
        </div>
    <div class="col-sm col-md col-lg col-xl">
        <button type="button" class="btn btn-primary form-control " id="finalizar" name="finalizar" style="display: none"></button>
    </div> 
</div>

{% endblock %}
