{% extends './body.html' %}

{% block title %} Crear Nuevo Usuario {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/newuser.css') }}">
{% endblock %}

{% block container %}
<form class="form-signin w-100 m-auto" id="regform" action="/crearusuario" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <h1 class="h3 mb-3 fw-normal">Crear Nuevo Usuario</h1>

    <div class="form-floating">
        <label for="nuevoNombre">Nombre Completo</label>
        <input type="text" class="form-control" id="nuevoNombre" name="nuevoNombre" [ngValue]="null" placeholder="Nombre" minlength="10" 
        maxlength="30"
        required>
    </div>
    <br />
    <div class="form-floating">
        <label for="nuevoUsuario">Usuario</label>
        <input type="text" class="form-control" id="nuevoUsuario" name="nuevoUsuario" placeholder="Usuario" minlength="6" 
        maxlength="20"
        required autofocus>
    </div>
    <br />
    <div class="form-floating">
        <label for="nuevoPassword">Contraseña</label>
        <input type="password" class="form-control" id="nuevoPassword" name="nuevoPassword" placeholder="Contraseña" minlength="6"
        maxlength="20"
        required>
    </div>
    <div class="form-floating">
        <label for="nuevoPasswordTwo">Repita su Contraseña</label>
        <input type="password" class="form-control" id="nuevoPasswordTwo" name="nuevoPasswordTwo" placeholder="Repetir Contraseña" minlength="6"
        maxlength="20"
        required>
    </div>
    <br />
    <button class="w-100 btn btn-lg btn-dark" type="submit">Crear!</button>
    <br />
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <br />
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
  </form>
{% endblock %}

{% block customJS %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}