{% extends './body.html' %}

{% block title %}Index{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap-treeview/css/bootstrap-treeview.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/cuentas.css') }}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block container %} 
<div class="row">
    <div class="col-sm-5">
        <div id="tree"></div>
    </div>
    <div class="col-sm-7 infotab" style="padding: 20px">
        <div style="text-align: center;">
            <h1 id="codigo-cuenta"></h1>
            <h1 id="nombre-cuenta">Seleccione una Cuenta</h1>
            <div id="inforow" style="visibility: hidden;">
                <div class="row">
                    <div class="input-group col-sm">
                        <span class="input-group-text" id="inputGroupPrepend">$</span>
                        <input placeholder="Saldo" class="form-control" type="numeric" id="saldo-cuenta" name="saldo-cuenta" disabled>
                    </div>
                    <div id="tipo-cuenta" class="col-sm"></div>
                </div>
                <div class="row" style="padding-top: 20px">
                    <button class="form-control" id="addaccmenu" text="asd" disabled>Agregar Cuenta Hijo</button>
                </div>
                <br>
                <div id="addaccform" class="form-border" >
                    <form id="accform" class="form-signin  m-auto">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <div class="row" style="padding-inline: 30px; padding-top: 10px;">
                            <label for="Cuenta">Nombre</label>
                            <input type="text" class="form-control" id="Cuenta" name="Cuenta" placeholder="Cuenta" required autofocus>
                        </div>  
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="recibeSaldo" id="recibeSaldo">
                            <label class="form-check-label" for="recibeSaldo">Recibe Saldo</label>
                        </div>
                    </form>
                    <div class="row" style="padding-inline: 30px; padding-bottom: 10px;">
                        <button class="form-control" id="addacc" text="asd">Agregar</button>
                    </div>            
                </div>
            </div>
        </div>
    </div>
</div>
<div id="tdata" hidden>{{data | tojson}}</div>
{% endblock %}

{% block customJS %}
<script src="{{ url_for('static', filename='lib/sweetalert2-9.10.0/sweetalert2.all.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/bootstrap-treeview/js/bootstrap-treeview.js') }}"></script>
<script src="{{ url_for('static', filename='js/notificacionSwal.js') }}"></script>
<script src="{{ url_for('static', filename='js/mostrarcuentas.js') }}"></script>
{% endblock %}



