html,
body{
  height: 100%;
  /*background-color: #dbe2ea ;*/
}
.form-check-input {
  margin-top: 12px;
}
  
table {
    table-layout:fixed;
    width:100%;
}

div[class="container py-3"]{
  background-color: #DDDDDD ;
  font-size: x-large;
  border-radius: 1rem;
  border-style:groove;
  border-width: 0.1rem;
}
