{% extends './body.html' %}

{% block title %}Index{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block container %} 
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div style="text-align: center;">
        <h1>Bienvenid@</h1>
        <h2>¿Qué deseas hacer?</h2>

        <div class="row">
            <ul class="nav-item">
                <a href="/cuentas" class="btn btn-primary btn-lg btn-block">Ver cuentas</a>
            </ul>
            <ul class="nav-item">
                <a href="/registrarasiento" class="btn btn-primary btn-lg btn-block">Registrar Asiento</a>
            </ul>
            <ul class="nav-item">
                <a href="/verasiento" class="btn btn-primary btn-lg btn-block">Ver Asiento</a>
            </ul>
            <ul class="nav-item">
                <a href="/verasiento" class="btn btn-primary btn-lg btn-block">Documentacion</a>
            </ul>
        </div>
    </div>
{% endblock %}