{% extends './body.html' %}

{% block title %}SAPC{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block container %} 
<div class="col-sm-5" style="margin:0 auto;">
    <div style="text-align: center;">
        <h1>Bienvenid@</h1>
        <h2>¿Qué deseas hacer?</h2>
    </div>
    <a href="/cuentas" class="btn btn-primary btn-lg btn-block">Ver cuentas</a>
    <a href="/registrarasiento" class="btn btn-primary btn-lg btn-block">Registrar Asiento</a>
    <a href="/verasientos" class="btn btn-primary btn-lg btn-block">Ver Asiento</a>
    <a href="/librodiario" class="btn btn-primary btn-lg btn-block">Libro Diario</a>
    <a href="/libromayor" class="btn btn-primary btn-lg btn-block">Libro Mayor</a>
    <a href="https://docs.google.com/document/d/1mF7-tI69rZzPkUUQNC8WEpeEqLAMoo2XzUn5SACX1OY/edit?usp=sharing" class="btn btn-primary btn-lg btn-block">Documentacion</a>
</div>
{% endblock %}