{% extends './body.html' %}

{% block title %}Listado de Libros{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/listado_libros.css') }}">
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h1 align="center">{{ data.titulo }}</h1>
    </div>
</div>
<hr/>
<div class="row">
    {% for libro in data.libros %}
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card mb-4 shadow-sm">
            {% set url = 'img/portadas/' + libro.isbn + '.jpg' %}
            <img class="card-img-top" src="{{ url_for('static', filename=url) }}" height="320" alt="{{ libro.titulo }}"/>
            <div class="card-body">
                <h5 class="card-title">{{ libro.titulo }}<span style="float: right;">${{ libro.precio }}</span></h5>
                <p class="card-text">{{ libro.autor.nombre_completo() }}</p>
                <button id="{{ libro.isbn }}" class="btn btn-block btn-dark btnComprarLibro">Comprar</button>
            </div>
        </div>
    </div>
    {% endfor %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
</div>
{% endblock %}

{% block customJS %}
<script src="{{ url_for('static', filename='lib/sweetalert2-9.10.0/sweetalert2.all.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/notificacionSwal.js') }}"></script>
<script src="{{ url_for('static', filename='js/listado_libros.js') }}"></script>
{% endblock %}