<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">SAPC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('index') }}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('ver_cuentas') }}">Ver Cuentas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('ver_asientos') }}">Ver Asientos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('registrar_asiento') }}">Registrar Asiento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('libro_diario') }}">Libro Diario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('libro_mayor') }}">Libro Mayor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Cerrar Sesi&oacute;n</a>
        </li>
      </ul>
      <span class="navbar-text">
        <strong>{{ current_user.nombre }} - {{ "Admin" if current_user.rol == 0 else "Usuario" }}</strong> 
    </div>
  </nav>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">