{% extends './body.html' %}

{% block title %}Index{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/vista_asiento.css') }}">
{% endblock %}

{% block container %} 
<div class="row">
    <div class="col-sm col-md col-lg col-xl">
        <div style="text-align: center;">Asiento #49382</div>
    </div>
</div>
<hr/>
<form>
    <div class="row">
        <div class="col-sm col-md col-lg col-xl"> 
            <div class="col">
                <label for="descripcion">Descripción:</label>
                <textarea class="form-control input-lg" placeholder="Descripcion del Asiento" id="descripcion" name="descripcion" rows="3" style="resize: none"></textarea>
            </div>
            <div class="col-lg-4">
                <label for="monto">Monto: </label>
                <input placeholder="Monto" class="form-control input-sm" type="number" id="monto" name="monto" min="0" oninput="validity.valid||(value='');">
            </div>
            <div class="col">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="checkDH" id="checkDebe">
                    <label class="form-check-label" for="checkDebe">Debe</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="checkDH" id="checkHaber">
                    <label class="form-check-label" for="checkHaber">Haber</label>
                </div>
            </div>
        </div>
        <div class="col-sm col-md col-lg col-xl">
            <div class="col">
                <label for="datePicker">Fecha: </label>
                <input type="date" class="form-control col-4" id="datePicker"></h4>
            </div>
        </div>
    </div>
    <div class="col row pull-right">
        <div class="col-sm col-md col-lg col-xl">
            <button type="button" class="btn btn-primary " id="addAsiento" name="addAsiento" >Agregar</button>
        </div>
    </div>
</form>
<hr/>
<div class="row">
    {% if data.asientos|length > 0 %}
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="w-50" style="text-align:left">Cuenta</th>
                            <th>Debe</th>
                            <th>Haber</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set contador = namespace(totalDebe=0,totalHaber=0 ) %}
                        {% for l in data.asientos %}
                        {% set prefix2 = "&emsp;"*2 %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            {% if l[2] == 0 %}
                                <td style="text-align:left">{{ l[0] }}</td>
                                <td>$ {{ l[1] }}</td>
                                <td> - </td>
                                {% set contador.totalDebe = contador.totalDebe +  l[1] %}
                            {% else %}
                                <td style="text-align:left; padding-left: 3em;">{{ l[0] }}</td>
                                <td> - </td>
                                <td>$ {{ l[1] }}</td>
                                {% set contador.totalHaber = contador.totalHaber +  l[1] %}
                            {% endif %}     
                            <td><button id="{{ l.isbn }}" class="btn btn-block btn-dark btnEditarLibro st-btn">Editar</button></td>
                            <td><button id="{{ l.isbn }}" class="btn btn-block btn-dark btnEliminarLibro st-btn">Eliminar</button></td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="2"></td>
                            <td>$ {{ contador.totalDebe }}</td>
                            <td>$ {{ contador.totalHaber }}</td>
                            <td>$ {{ contador.totalDebe - contador.totalHaber }}</td>
                            <td colspan="1"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm col-md col-lg col-xl">
            <button type="button" class="btn btn-primary form-control " id="finalizarAsiento" name="finalizarAsiento" >Finalizar Asiento</button>
        </div> 
    {% else %}
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h2> Sin Transacciones</h2>
        </div>
    {% endif %}
</div>

{% endblock %}

{% block customJS %}
<script src="{{ url_for('static', filename='js/registrar_asiento.js') }}"></script>
{% endblock %}